<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <form >
        <div class="text-center">
          <h1>Change Password</h1>
        </div>
        <div class="text-center mt-4">
          <input
            type="password" class="form-control " placeholder="Enter Current Password"/>
        </div>
        <div class="text-center mt-4">
          <input type="password" class="form-control " placeholder="Enter New Password"/>
        </div>
        <div class="text-center mt-4">
          <input type="password" class="form-control " placeholder="Confirm Password"/>
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary btn-lg">Change</button>
        </div>
      </form>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
