<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <nav class="navbar shadow  sticky-top">
      <a routerLink='/home/index' class="nav-link">HOME</a>
      <a routerLink='/home/aboutus' class="nav-link">About Us</a>
      <a routerLink='/home/contactus' class="nav-link">Contact Us</a>
      <a routerLink='/home/adminlogin' class="nav-link">Admin login</a>
      <a routerLink='/home/facultylogin' class="nav-link">Faculty login</a>
      <a routerLink='/home/studentlogin' class="nav-link">Student login</a>
    </nav>
  </body>
</html>
<router-outlet></router-outlet>
