<!DOCTYPE html>
<html>
  <head>
    <title>HOD Home page</title>
  </head>
  <body>
    <div><nav class="navbar bg-primary">
      <a routerLink="/hod" class="nav-link">HOME</a>
      <a  routerLink="/hod/stureg" class="nav-link">Student Registration</a>
      <a  routerLink="/hod/facreg"class="nav-link">Faculty Registration</a>
    <a   routerLink="/hod/submap" class="nav-link">Subject Mapping</a>
    <a   routerLink="/hod/marksupdate" class="nav-link">Marks Update</a>
    <a   routerLink="/hod/viewmarks" class="nav-link">View marks</a>
    <a   routerLink="/hod/pwd" class="nav-link">Change Password</a>
    </nav>
  </div>
  </body>
</html>
<router-outlet></router-outlet>
