
<!DOCTYPE html>
<html>
  <head>
    <title>View Marks</title>
  </head>
  <body>
    <h1 class="text-center pt-5">Marks Update</h1>
    <div class="text-center  container pt-2">
      <form class="container">
            <select class="form-control ">
                <option>Select Subject</option>
                <option>DAA</option>
                <option>CC</option>
                <option>MASN</option>
            </select>
            <select class="form-control ">
              <option>Select Exam Type</option>
              <option>Assaignment-1</option>
              <option>Mid-1</option>
              <option>Quiz-1</option>
              <option>Assaignment-2</option>
              <option>Mid-2</option>
              <option>Quiz-2</option>
          </select>
            
            
      </form>
    </div>
    <app-marksenter></app-marksenter>
  </body>
</html>
