<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <form >
        <div class="text-center">
          <h1>Faculty Login</h1>
        </div>
        <div class="text-center mt-4">
          <input
            type="text" class="form-control form-control-lg" placeholder="Enter Username"/>
        </div>
        <div class="text-center mt-4">
          <input type="password" class="form-control form-control-lg" placeholder="Enter Password"/>
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
