<!DOCTYPE html>
<html>
  <head>
    <title>Admin Home page</title>
  </head>
  <body>
    <div><nav class="navbar bg-primary">
      <a routerLink="/admin" class="nav-link">HOME</a>
      <a routerLink="/admin/hodreg" class="nav-link">HOD Registration</a>
      <a  routerLink="/admin/lockmarks" class="nav-link">Lock Marks</a>
      <a  routerLink="/admin/viewmarks"class="nav-link">View Marks</a>
      <a  routerLink="/admin/pwd" class="nav-link">Change Password</a>
    </nav>
  </div>
  </body>
</html>
<router-outlet></router-outlet>
