<!DOCTYPE html>
<html>
  <head>
    <title>Admin Home page</title>
  </head>
  <body>
    <div><nav class=" navbar  bg-primary">
      <a routerLink="/student" class="nav-link">HOME</a>
      <a  routerLink="/student/viewmarks"class="nav-link">View Marks</a>
      <a  routerLink="/student/pwd" class="nav-link">Change Password</a>
      <a  routerLink="/student/profile" class="nav-link">View Profile</a>
      <a  routerLink="/student/logout" class="nav-link">Logout</a>
    </nav>
  </div>
  </body>
</html>
<router-outlet></router-outlet>
