<!DOCTYPE html>
<head>
    <title>
        Student Registration
    </title>
</head>
<body>
    <div class="container">
        <form>
            <div class="text-center mt-5">
                <h1>Faculty Subject Mapping</h1>
            </div>
            <div class="mb-3 mt-5">
                <label  class="form-label">Facculty ID</label>
                <input type="text" class="form-control ">
            </div>
            <div class="mb-3">
              <label  class="form-label">Faculty name</label>
              <input type="text" class="form-control ">
            </div>
            <div class="mb-3">
                <label  class="form-label">Subject Code</label>
                <input type="email" class="form-control ">
            </div>
            <div class="mb-3">
                <label  class="form-label">Subject Name</label>
                <input type="email" class="form-control ">
            </div>
            
            
            <div class="text-center">
            <button type="submit " class="btn btn-primary">Map</button>
        </div>
          </form>
    </div>
</body>
